.box {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
}

.col1 {
  border: 0px solid rgb(248, 241, 241);
  background-color: #1e4d91;
  height: 100%;
  width: 90px;
}
.col2 {
  border: 1px solid rgb(248, 241, 241);
  background-color: white;
  width: 380px;
  text-align: center;
}
.col3 {
  border: 1px solid rgb(248, 241, 241);
  width: 700px;
  background-color: rgb(252, 248, 248);
  text-align: center;
}
.col4 {
  border: 1px solid rgb(248, 241, 241);
  width: 380px;
  text-align: center;
  background-color: rgb(241, 231, 231);
}
.heading {
  border-bottom: 2px solid rgb(218, 209, 209);
  background-color: white;
  height: 50px;
  display: flex;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.832);
}

.heading2 {
  border-bottom: 2px solid rgb(218, 209, 209);
  background-color: white;
  height: 200px;
}

.profile {
  border: 2px solid rgb(218, 209, 209);
  margin: 8px;
  background-color: white;
  height: 200px;
  width: 340px;
  border-radius: 20px;
}
.refresh {
  height: 50px;
  padding-left: 120px;
  padding-top: 5px;
  padding-right: 15px;
  color: grey;
}
.menu {
  padding-right: 30px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

.pic {
  width: 70px;
  height: 90px;
}

.input {
  margin-top: 520px;
  margin-right: 25px;
  margin-left: -20px;
  width: 620px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  border-color: rgba(42, 42, 133, 0.877);
}

.messages {
  height: 30px;
  width: 51px;
  color: rgba(42, 42, 133, 0.877);
  padding-right: 25px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: white;
  margin-right: 25px;
}
.senders {
  height: 30px;
  width: 30px;
  color: white;
  padding-top: 5px;
  padding-left: 25px;
}

.dp {
  height: 30px;
  width: 30px;
  color: white;
  padding-top: 480px;
  padding-left: 25px;
}

.msgcontent {
  border: 1px solid rgb(212, 205, 205);
  background-color: white;
  /* height: 80px; */
  /* width: 180px; */
  max-width: 80%;
  /* min-width: 10%; */
  text-align: left;
  font: small;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  /* position: relative; */
}

.sendercontent {
  /* border: 5px solid rgb(212, 206, 206); */
  text-align: left;
  background-color: white;
  width: 380px;
  padding-left: 5px;
}

Sender {
  border-bottom: 5px solid gray;
}

.senderdetails {
  padding: 15px;
  text-align: left;
}

.profilepic {
  border: 0px;
  height: 80px;
  width: 80px;
  margin-left: 145px;
  background-color: rgb(222, 204, 204);
  border-radius: 50%;
  margin-bottom: -25px;
}
