.integrationbox {
    padding-left: 600px;
    padding-top: 150px;
    padding-right: 500px;
  }
  
  .integratecontent {
    border: 0px;
    background-color: white;
    width: 300px;
    height: 150px;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 10px;
  }
  
  .title {
    text-align: center;
    font-size: large;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
  .connect {
    width: 260px;
    border-radius: 3px;
    background-color: rgba(42, 42, 133, 0.877);
    color: white;
    border: 0px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 10px;
  }