.box {
  padding-left: 600px;
  padding-top: 150px;
  padding-right: 500px;
}

.content1 {
  border: 0px;
  background-color: white;
  width: 300px;
  height: 350px;
  padding-left: 20px;
  padding-top: 30px;
  border-radius: 10px;
}
.content2 {
  border: 0px;
  background-color: white;
  width: 300px;
  height: 300px;
  padding-left: 20px;
  padding-top: 30px;
  border-radius: 10px;
}

.heading {
  text-align: center;
  font-size: large;
  font-weight: 500;
  padding-bottom: 10px;
}

.inputbox {
  width: 260px;
  height: 25px;
  margin-left: 10px;
}

.sign {
  width: 260px;
  border-radius: 3px;
  background-color: rgba(42, 42, 133, 0.877);
  color: white;
  border: 0px;
  padding: 5px;
  margin-top: 25px;
  margin-left: 10px;
}

.title {
  font-size: 14px;
  margin-left: 10px;
}

.input {
  padding-top: 5px;
  font-size: small;
  padding-bottom: 5px;
}

.existing {
  display: flex;
  font-size: 13px;
  padding-top: 17px;
  padding-left: 65px;
}
.loginsignup {
  background-color: white;
  border: 0px;
  font-size: 13px;
  padding-left: 2px;
  color: rgb(100, 100, 242);
}
.remember {
  margin-left: 8px;
}

/* ////////////////////////////////////////// */
